<!-- template for page user sees if logged in -->

<!DOCTYPE html>
<html lang="en">
<!--links to CSS and JS if we had them, go in the header-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Almost Died Today - Potentially Deadly Asteroids</title>
</head>
<body>
<!--Everything you see on a website-->
<h1> Asteroid that almost killed us</h1>
<!--Just splash in the rust whenever you need it-->
<!--Goes through the page_package vector and returns a package of things-->
<!--If you want to write CSS, match it to any class tag in a div, h2, etc to apply styles-->
<div class="package">
    <h2> Near miss: {{package.asteroid.name}} </h2>
    <p>How many miles did it miss earth by? {{pacakge.asteroid.miss_distance_miles}} </p>
<!--    etc etc...-->
</div>

</body>

</html><!--Page where people go when logged in-->