<!DOCTYPE html>
<html lang="en">
<!--links to CSS and JS if we had them, go in the header-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <!--    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/styles.css">
    <title>Almost Died Today</title>
</head>
<body>
<!--Everything you see on a website-->

<div class="container">
    <h1>Hurrah! You are now registered with Almost Died Today. </h1>
    <h2>Enjoy the existential crisis.</h2>

</div>
<a href="/" ><button class="home-button">Head back to the Home Page to Login</button></a>
</body>

</html>